* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:#6c6b6b;
}

header{
  display:flex;
  justify-content:flex-end;
  width:100%;
  padding:30px 20px;
  background-color:fuchsia
}

header > div{
  flex-basis:140px;
  height:70px;
  margin:0 10px;
  background-color:plum;
}

header>:first-child{
  margin-right:auto;
}

main{
  display:flex;
  justify-content:center;
}

.parent{
  width:300px;
  background-color:limegreen;
}

.child{
  background-color:#00b522;
    padding:20px;
    max-width:700px;
    flex-grow:1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.child>div{
  background-color:yellow;
  flex-basis:200px;
  height:130px;
  margin:10px;
}

footer{
  padding:20px;
  background-color:#6495ed;
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
}


footer>div{
  flex-basis:45%;
  max-width:600px;
  height:40px;
  margin:10px;
  background-color:#87cefa;
}